David Klein <david.klein@tu-braunschweig.de>
Thomas Barber <thomas.barber@sap.com>
Simon Kurt Petrik <simon.petrik@web.de>
Simon Kurt Petrik <simon.kurt.petrik@sap.com>
Jennifer Bischoff <jennifer.bischoff@sap.com>
Jakob Tepe <j.tepe@tu-bs.de>
Manuel Karl <manuel.karl92@gmail.com>
Simon Kurt Petrik <d070494@WDFL41000650D.emea.global.corp.sap>
Suv Sanjit Patnaik <suv.sanjit.patnaik@sap.com>
